/* 
declaration block:

selector{
    property: value;
    property2: value;

}
 */

/* xiomara sanchez 3/14/26 */
body {
    background-color: rgb(251, 216, 236);
    color: #2395ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f7b1f6;
}

li a {
  display: block;
  color: black;
  padding: 10px 18px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #b3a4fb;
  color: white;
}
footer {
   
    text-align: center;
    margin: 200px;
}

#memeImage {
    margin-right: 200px;
    width: 400px;
    
}
h1 {
    text-align: center;
    font-size: 60px;
}   
hr {
    border: 1px solid #2395ff;
    margin: 20px 0;
}
 canvas {
            border: 5px solid #cf09f6;
            display: block;
            margin: 20px auto;
            background-color: #222;
        }

        button {
            padding: 15px 25px;
            margin: 5px;
            font-size: 18px;
            border-radius: 8px;
            border: none;
            background-color: #ff008c;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #ff008c;

        }
        #game-container {
    display: flex;
    justify-content: center;
} 